version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: ${USER}_postgres
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflow
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mlflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: ${USER}_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  minio-init:
    image: minio/mc
    container_name: ${USER}_minio_init
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      echo 'Waiting for MinIO...';
      until mc alias set myminio http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD}; do
        sleep 3;
      done;
      echo 'Creating bucket...';
      mc mb myminio/${MINIO_BUCKET_NAME} --ignore-existing;
      mc ls myminio;
      echo 'MinIO init done';
      exit 0;
      "

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: ${USER}_mlflow
    depends_on:
      - postgres
      - minio
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
      # MLFLOW_DISABLE_HOST_CHECK: "true"
      # MLFLOW_ENABLE_PROMETHEUS_METRICS: "false"
    command: >
      mlflow server
      --backend-store-uri postgresql://mlflow:mlflow@postgres:5432/mlflow
      --default-artifact-root s3://${MINIO_BUCKET_NAME}
      --host 0.0.0.0
      --port ${MLFLOW_PORT}
      --allowed-hosts="*"
      --cors-allowed-origins="*"
    ports:
      - "${MLFLOW_PORT}:${MLFLOW_PORT}"

  prometheus:
    image: prom/prometheus
    container_name: ${USER}_prometheus
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: ${USER}_grafana
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: ${USER}_api
    ports:
      - "8000:8000"
    depends_on:
      - mlflow
      - minio
    volumes:
      - ./api:/app/api
volumes:
  postgres_data:
  minio_data:
  grafana_data: